<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Bluesky Quote Explorer</title>

  <link rel="stylesheet" href="/static/app.css?{{ env!("CARGO_PKG_VERSION") }}">
</head>

<body>
  <div id="viewer"></div>
  <div id="about">
    <p>
      <strong>
        <a href="https://github.com/Syfaro/bsky-quote-explorer">Bluesky Quote Explorer</a>
      </strong>
    </p>

    <p>
      Nodes are posts.
    </p>

    <p>
      <label>
        <input type="checkbox" checked name="edge-filter" value="quote" class="edge-filter">
        Show <span class="blue">blue</span> quotes
      </label>
    </p>

    <p>
      <label>
        <input type="checkbox" checked name="edge-filter" value="reply" class="edge-filter">
        Show <span class="green">green</span> replies
      </label>
    </p>

    <p id="layout-container">
      <label>
        <select id="layout-select" name="layout">
          <option selected value="dagre">Tree</option>
          <option value="cose">Force graph</option>
        </select>
        Layout
      </label>
    </p>
  </div>

  <script src="https://unpkg.com/cytoscape@3.29.2/dist/cytoscape.min.js"></script>
  <script src="https://unpkg.com/dagre@0.8.5/dist/dagre.js"></script>
  <script src="https://unpkg.com/cytoscape-dagre@2.5.0/cytoscape-dagre.js"></script>

  <script src="/static/app.js?{{ env!("CARGO_PKG_VERSION") }}"></script>
</body>

</html>
